src/main/mule/db-select.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6d1c3db8-0f73-41d6-bbd8-aee078422a11" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="dbfa07ca-40df-4a69-ac26-37e80a54fe7e" >
		<db:oracle-connection host="localhost" user="system" password="Mule@786" />
	</db:config>
	<flow name="db-selectFlow" doc:id="f6d84cda-094b-4887-8c3b-7a8091327d47" >
		<http:listener doc:name="Listener" doc:id="4206c868-2ce7-4154-bc96-c95f272c9e26" config-ref="HTTP_Listener_config" path="/dbselect"/>
		<logger level="INFO" doc:name="Start Logger" doc:id="1daf7cd2-ef70-4cca-9f69-329420b68ab0" message="Before calling the DB"/>
		<db:select doc:name="Select" doc:id="71283b0a-c429-4c99-a041-76cb600c303c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from CVD_CASE_MASTER]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="7582b044-36e1-4ee9-999a-3d21145816c3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
typeOf(payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	<logger level="INFO" doc:name="End Logger" doc:id="eddc18a6-1c4d-412a-8cc0-c8bb63781829" message="after calling the DB #[payload]"/>	
	</flow>
</mule>
